input[type=checkbox]:checked + span.strikethrough{
    text-decoration: line-through;
}

.small{
    font-size: x-small;
}

.medium{
    font-size: medium;
}

.large{
    font-size: xx-large;
}

.pink{
    color: #FF6EFF;
}

.yellow{
    color: #FFFF66;
}

.green{
    color: #66FF66;
}